<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6>Register!</h6>
                </div>
                <form>
                    <form>
                        <div class="mb-3">
                          <label for="username" class="form-label">Username</label>
                          <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username" #userName (submit)="add(userName.value); userName.value=''" />
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="add(userName.value); userName.value=''">Sign up </button>
                      </form>
                </form>
                <a routerLink="/login">Already have an account? Click there to log up</a>
            </div>
        </div>
    </div>
</div>
