<h2>My Products</h2>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/products">Products</a>
  <a routerLink="/login">Log out</a>
</nav>
<div>
  <label for="new-product">Product name: </label>
  <input id="new-product" #productName />
  <label for="new-product">Product price: </label>
  <input id="new-product" #productPrice />
  <label for="new-product">Product quantity: </label>
  <input id="new-product" #productQuantity />
  
  <button type="button" class="add-button" (click)="add(productName.value, productPrice.value, productQuantity.value); productName.value=''; productPrice.value=''; productQuantity.value=''" >Add product</button>
</div>

<ul class="products">
  <li *ngFor="let product of products">
    <a routerLink="/detail/{{product.name}}">
      <span class="badge">{{product.name}}</span> 
      <span class="badge">{{product.price}}</span> 
      <span class="badge">{{product.quantity}}</span>
    </a>
    <button type="button" class="delete" title="delete product"
      (click)="delete(product)">x</button>
  </li>
</ul>