<h2>My Products</h2>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/products">Products</a>
  <a routerLink="/login">Log out</a>
</nav>
<div>
  <label for="new-product">Product name: </label>
  <input id="new-product" #productName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(productName.value); productName.value=''">
    Add product
  </button>
</div>

<ul class="products">
  <li *ngFor="let product of products">
    <a routerLink="/detail/{{product.name}}">
      <span class="badge">{{product.name}}</span> 
      <span class="badge">{{product.price}}</span> 
      <span class="badge">{{product.quantity}}</span>
    </a>
    <button type="button" class="delete" title="delete product"
      (click)="delete(product)">x</button>
  </li>
</ul>