<div id="search-component">
    <label class = "search" for="search-box">Product Search</label>
    <form class = "search">
      <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Search..." autocomplete="off"/>
      <button type="submit" >
        <img src="https://c.tenor.com/5mz52kzlg6IAAAAj/bloodbros-search.gif" width="30" height="30">
      </button>
    </form>
    
  
    <ul class="search-result">
        <li *ngFor="let product of products$ | async" class = "m">
        <p>{{product.name}}</p>
        <div>Price: ${{product.price}}</div>
        <div>Amount: {{product.quantity}}</div>
        <button type="button" title="add-to-cart">add to cart</button>
      </li>
      
    </ul>
  </div>