<nav class = "SC">
  <a routerLink="/login">Log out</a>
</nav>
<nav class = "SC">  
  <a routerLink="/shopping">
    <img alt="shoppingCart" src="https://i.pinimg.com/originals/66/22/ab/6622ab37c6db6ac166dfec760a2f2939.gif" width="50" height="50">
  </a>
</nav>

  

  <app-product-search></app-product-search>

<h2>Products</h2>
<div class="products-menu">
  <a *ngFor="let product of products" class = "m">
      <p>{{product.name}}</p>
      <div>Price: ${{product.price}}</div>
      <div>Amount: {{product.quantity}}</div>
      <button type="button" title="add-to-cart">add to cart</button>
  </a>
  
</div>


