/* DashboardComponent's private CSS styles */

.SC
{
  text-align: right;
  
}

h2 
{
  text-align: center;
  text-decoration: underline;
}
  
  .products-menu {
    padding: 0;
    margin: auto;
    max-width: 1000px;
  
    /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;

  }
  
  a.m {
    background-color: rgb(207, 136, 179);
    border-radius: 20px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
  
    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  
  @media (min-width: 600px) {
    a.m {
      width: 18%;
      box-sizing: content-box;
    }

  }
  
  a.m:hover {
    background-color: pink;
  }

    /* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}

nav a.m {
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 5px;
}

nav a.m:hover {
  color: white;
  background-color: #42545C;
}

nav a.m.active {
  background-color: rgb(241, 132, 132);
}

div :hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: black;
    transition: .01s ease;
}

button
{
  @extend .center-content;
	padding: 5px 5px;
  font-size: 12px;
  cursor: cell;
  
	border-radius: 10px;
  
	background-color: white;
	color: black;
  
}


