<nav class = "SC">
  <div>WELCOME, {{currentUser.username}}!</div>
  <a routerLink="/shopping">
    <img alt="shoppingCart" src="https://i.pinimg.com/originals/66/22/ab/6622ab37c6db6ac166dfec760a2f2939.gif" width="50" height="60">
  </a>
  <a routerLink="/login">
    
    <img src="https://cdn.dribbble.com/users/1797873/screenshots/5310497/logout.gif" height="80" width="100">
  </a>
</nav>

<app-product-search></app-product-search>


<h2>Products</h2>
<div class="products-menu">
  <a *ngFor="let product of products" class = "m">
      <p>{{product.name}}</p>
      <div>Price: ${{product.price}}</div>
      <div>Amount: {{product.quantity}}</div>
      <button type="button" title="add-to-cart" (click)="add(product.name)">add to cart</button>
  </a>
  
</div>
