<div *ngIf="product">
    <h2>Details for product: {{product.name | uppercase}}</h2>
      <form>
        <span class = "one">
          <label for="Product-name">Product name: </label>
          <input name="Product-name" [(ngModel)]="product.name"/>
        </span>
        <br>
        <span class = "one">
          <label for="Product-price">Product price: </label>
          <input name="Product-price" [(ngModel)]="product.price"/>
        </span>
        <br>
        <span class = "one">
          <label for="Product-quantity">Product quantity: </label>
          <input name="Product-quantity" [(ngModel)]="product.quantity"/>
        </span>
        
        
      </form>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="save()">save</button>
  </div>